@tailwind base;
@tailwind components;
@tailwind utilities;
.trapezoid{
    padding-top: 2px;
    border-left: 75px solid #eee592;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	height: 200px;
	width: 0;
}
